<h1>ApartmentManager</h1>
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-4">
        <%= link_to "sign in", new_user_registration_path, :class => 'btn btn-success btn-block glyphicon glyphicon-thumbs-up' %>
    	</div>
    </div>
    <br>
    <div class="row">
    	<div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-4">
        <%= link_to "login", new_user_session_path, :class=> 'btn btn-primary btn-block glyphicon glyphicon-log-in' %>
      	</div>
    </div>