<!--<%= image_tag(url_for(:action => 'layout_get_image', :id => @room.id), :size => '500x500')%>-->
<h2>Room ID: <%=@room.id%> - Layout</h2>
<%= image_tag url_for(:controller => "apartment", :action => "layout_get_image", :id => @room.id, :size => '500x500') %>